{% extends 'base.html' %}
{% block content %}
<h2>Пользователи</h2>
<a href="{% url 'accounts:user_create' %}" class="btn btn-sm btn-success mb-3">Создать пользователя</a>
<table class="table table-sm table-striped">
  <thead>
    <tr><th>Логин</th><th>Имя</th><th>Роль</th></tr>
  </thead>
  <tbody>
    {% for u in users %}
    <tr>
      <td>{{ u.username }}</td>
      <td>{{ u.first_name }}</td>
      <td>{{ u.profile.get_role_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
